[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git

[submodule "src/sbus_serial"]
	path = src/sbus_serial
	url = https://github.com/Lenny-Lee-ustb/sbus_serial.git

