<launch>
  <include file="$(find slam_pack)/launch/include/robot_gmapping.launch.xml"/>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" 
        name="base_static_transform_publisher" args="-0.1 0 -0.25 0  0 0 base_link laser" />    -->

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" 
        name="odom_static_transform_publisher" args="0 0 0 1.5708 0 0 map odom " /> -->
</launch>
