<?xml version="1.0"?>
<launch>
    <!--Load fixed path !!  -->
    <node pkg="path_load" type="path_load.py" name="path_loader" >
        <param name="file_path" value="$(find path_load)/src/data_curve.csv" />
        <param name="pub_hz" value="1" />
    </node>

    <remap from="/camera/odom/sample" to="/odometry/filtered"/>
    
    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="display" args="-d $(find localization)/rviz/navigation.rviz" required="true"/>

    <!-- broadcast map->odom tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="odom_static_transform_publisher" args="0 0 0 1.5708 0 0 map camera_odom_frame " />
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="base_static_transform_publisher" args="-0.1 0 -0.25 0  0 0 camera_link base_link " />    

    <!-- Load Camera !! -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

</launch>
