<?xml version="1.0"?>
<launch>
    <!-- spawn joy node -->
    <node pkg="joy" 
          type="joy_node" 
          name="joy_node" />

    <!-- spawn controller node -->
    <node pkg="pro_lower_controller" type="pro_lower_platform" name="pro_lower_platform" output="screen">
        <param name="canSeries"     type="string"    value="can0"/>
        <param name="speedMax"     type="double"    value="2.0"/>
        <param name="speedMin"     type="double"    value="-1.0"/>
    </node>

    <!-- RpLiadr s1 -->
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/laser"/>
        <param name="serial_baudrate"     type="int"    value="256000"/>
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <!-- PlotJuggle -->
    <node name="plotjuggler_with_layout" 
          pkg="plotjuggler"
          type="plotjuggler"
          args="--layout $(find pro_lower_controller)/rviz/plotjuggler.xml"/>
</launch>
