<?xml version="1.0"?>
<launch>
    <remap from="/camera/odom/sample" to="/odometry/filtered"/>

    <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

    <!-- broadcast camera_link -> base_link tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
          name="base_static_transform_publisher" 
          args="-0.1 0 -0.25 0  0 0 camera_link base_link " /> 
          
    <!-- broadcast base_link -> laser tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="laser_static_transform_publisher" args="-0.1 0 -0.25 3.14159 0  0  base_link laser" />         
    

    <!-- Rviz -->
    <node pkg="rviz" 
          type="rviz" 
          name="display" 
          args="-d $(find pro_lower_controller)/rviz/odom.rviz" required="true"/>

</launch>
