<?xml version="1.0"?>
<launch>
    <remap from="/camera/odom/sample" to="/odometry/filtered"/>
    <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>
    <!-- Rviz -->
    <node pkg="rviz" 
          type="rviz" 
          name="display" 
          args="-d $(find pro_lower_controller)/rviz/odom.rviz" required="true"/>

</launch>
